<h2>{{ video.title }}</h2>

{% if video.asset.dash_master %}
<h3>DASH Player</h3>
<script src="https://cdn.dashjs.org/latest/dash.all.min.js"></script>

<video id="dashVideo" controls width="720"></video>

<script>
  const dashVideo = document.getElementById("dashVideo");
  const dashSrc = "/media/{{ video.asset.dash_master }}";

  const player = dashjs.MediaPlayer().create();
  player.initialize(dashVideo, dashSrc, true);
</script>


{% else %}
<h3>HLS Player</h3>
<script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
<video id="video" controls width="720"></video>

<script>
  const video = document.getElementById('video');
  const src = "/media/{{ video.asset.hls_master }}";

  if (Hls.isSupported()) {
    const hls = new Hls();
    hls.loadSource(src);
    hls.attachMedia(video);
  } else if (video.canPlayType('application/vnd.apple.mpegurl')) {
    video.src = src;
  }
</script>
{% endif %}
